<div id="<%= dom_id product %>">
<style>
  input{
   border:none !important;
   width:50px !important;
   text-align: right !important;
  }
  .alexgrid{
   display:grid;
   grid-template-columns: 80px 150px;
  }
  .back_numb{
   background-color: #f7f7f7 !important;
   padding: 2px 5px 3px  0!important;
   margin:  0 !important;
  }
  .alexjbtn{ text-align: center !important;line-height: 48px !important;height:48px !important;margin: 2px 0}

</style>
 <div style="display:grid !important;grid-template-columns: 50px 200px 100px 300px 50px 200px 300px !important;margin:0 5em; border-bottom: 1px solid #cdcdcd;width: 1250px !important;line-height: 48px !important;" >


    <strong>Name:</strong>
   <%= link_to  product.name, @product %>

    <strong>Decription:</strong>
    <%= product.decription %>
    <strong>Price:</strong>
    <%= product.price %>
<%= form_with(url: cart_add_path) do |f| %>
     <div class="alexgrid">
  <%= f.hidden_field :id, value: product.id %>
  <%= f.number_field :quantity, value: 0, min: 1 , class: "back_numb" %>
  <%= f.submit "Add To Cart" , class: "btn alexjbtn"%>
     </div>
  <% end %>
 </div>
</div>
